doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='http://connect.soundcloud.com/sdk.js')
    script(type='text/javascript', src='/build/build.js')